.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 1em;
}

.grid-container > div {
    background-color: rgba(0,0,0, 0.2);
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main-content {
    grid-row-start: 2;
    grid-row-end: 4;
}

h1 {
    color: #570202;
    text-align: center;
}

.grid-container > div {
    background-color: rgba(0,0,0, 0.2);
}

/* NavBar */
.navbar {
    overflow: hidden;
    background-color: #333333;
}

* {
    margin: 0;
    padding: 0;
}

.navbar a {
    /*float: left;*/
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar img  {
    margin-bottom: 1em;
}

.navbar a:hover {
    background-color: #2ccbb4;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}